@import 'tailwindcss';

:root {
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-500: #64748b;
  --color-slate-400: #94a3b8;
  --color-slate-300: #cbd5e1;
  --color-slate-200: #e2e8f0;
  --color-slate-100: #f1f5f9;

  --color-violet-600: #7c3aed;
  --color-violet-100: #ede9fe;

  --color-rose-500: #f43f5e;
  --color-lime-300: #bef264;

  --color-amber-800: #92400e;

  --drop-shadow-button: 4px 4px 0 #000000;
  --drop-shadow-icon: 2px 4px 0 #000000;
}

@theme inline {
  --color-slate-900: var(--color-slate-900);
  --color-slate-800: var(--color-slate-800);
  --color-slate-500: var(--color-slate-500);
  --color-slate-400: var(--color-slate-400);
  --color-slate-300: var(--color-slate-300);
  --color-slate-200: var(--color-slate-200);
  --color-slate-100: var(--color-slate-100);

  --color-violet-600: var(--color-violet-600);
  --color-violet-100: var(--color-violet-100);

  --color-rose-500: var(--color-rose-500);
  --color-lime-300: var(--color-lime-300);

  --color-amber-800: var(--color-amber-800);

  --drop-shadow-button: 4px 4px 0 #000000;
  --drop-shadow-icon: 2px 4px 0 #000000;
}

@layer utilities {
  .text-16-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .text-16-bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .text-16-extrabold {
    font-size: 16px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .text-18-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .text-20-bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
