@import "tailwindcss";

:root {
  --color-slate-900: #0F172A;
  --color-slate-800: #1E293B;
  --color-slate-500: #64748B;
  --color-slate-400: #94A3B8;
  --color-slate-300: #CBD5E1;
  --color-slate-200: #E2E8F0;
  --color-slate-100: #F1F5F9;

  --color-violet-600: #7C3AED;
  --color-violet-100: #EDE9FE;

  --color-rose-500: #F43F5E;
  --color-lime-300: #BEF264;

  --color-amber-800: #92400E;
}

@theme inline {
  --color-slate-900: var(--color-slate-900);
  --color-slate-800: var(--color-slate-800);
  --color-slate-500: var(--color-slate-500);
  --color-slate-400: var(--color-slate-400);
  --color-slate-300: var(--color-slate-300);
  --color-slate-200: var(--color-slate-200);
  --color-slate-100: var(--color-slate-100);

  --color-violet-600: var(--color-violet-600);
  --color-violet-100: var(--color-violet-100);

  --color-rose-500: var(--color-rose-500);
  --color-lime-300: var(--color-lime-300);

  --color-amber-800: var(--color-amber-800);
}

@layer utilities {
  .text-16-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .text-16-bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .text-16-extrabold {
    font-size: 16px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .text-18-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .text-20-bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
  }
}